aiohttp==3.8.3
aiosignal==1.3.1
asgiref==3.6.0
astroid==2.13.2
async-timeout==4.0.2
attrs==22.1.0
bcrypt==4.1.3
beautifulsoup4==4.12.2
blinker==1.9.0
certifi==2022.9.24
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.1.1
click==8.2.1
contourpy==1.0.6
cryptography==42.0.8
cycler==0.11.0
dill==0.3.6
discord==2.1.0
discord.py==2.1.0
Django==4.1.6
django-bootstrap-v5==1.0.11
exceptiongroup==1.0.4
flake8==6.0.0
Flask==3.1.1
Flask-WTF==1.2.2
fonttools==4.38.0
fortran-language-server==1.12.0
frozenlist==1.3.3
greenlet==2.0.1
idna==3.4
iniconfig==1.1.1
isort==5.11.4
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.4
lazy-object-proxy==1.4.1
MarkupSafe==3.0.2
matplotlib==3.7.2
mccabe==0.7.0
msgpack==1.0.4
multidict==6.0.3
numpy==2.2.6
packaging==21.3
pandas==2.2.3
Pillow==9.3.0
platformdirs==2.6.2
pluggy==1.0.0
prettytable==3.5.0
prettyTables==1.1.5
pycodestyle==2.10.0
pycparser==2.22
pyflakes==3.0.1
pygame==2.1.2
pylint==2.15.10
pynvim==0.4.3
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2025.2
pywal==3.3.0
pyxel==1.9.6
requests==2.28.1
scikit-learn==1.6.1
scipy==1.15.3
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
threadpoolctl==3.6.0
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
tzdata==2025.2
urllib3==1.26.13
wcwidth==0.2.5
Werkzeug==3.1.3
wrapt==1.14.1
WTForms==3.2.1
yarl==1.8.2
youtube-dl==2021.12.17
